:root{
    --bg-color: white;
    --shadow-color: #eee;
    --text-color: black;
    --accent-color: dodgerblue;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}